<a href="https://colab.research.google.com/github/agonzalez1210/BTE-320-/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
r = 3 # radius of a circle
h = 10 # height of a cylinder

# Calculate cylinder surface area
area = 2 * pi * r ** 2 + 2 * pi * r * h

# Display result
print(area)

244.92000000000002

In [ ]:
p1 = input('Choose Rock, Paper, Scissors:')
p2 = input('Choose Rock, Paper, Scissors:')

if p1 == p2:
  print('draw')
elif p1 == 'rock' and p2 == 'scissors':
  print('Player 1 wins!')
elif p1 == 'paper' and p2 == 'rock':
  print('Player 1 wins!')
elif p1 == 'scissors' and p2 == 'paper':
  print('Player 1 wins!')
else:
  print('Player 2 wins!')

Choose Rock, Paper, Scissors:rock
Choose Rock, Paper, Scissors:rock
draw

In [ ]:
choice = input('Do you want to play game?')
while choice == 'Yes':
  p1 = input('Choose Rock, Paper, Scissors: ')
  p2 = input('Choose Rock, Paper, Scissors: ')

  if p1 == p2:
    print('Draw')
  elif ((p1 == 'rock' and p2 == 'scissors') or
    (p1 == 'scissors' and p2 == 'paper') or
        (p1 == 'paper' and p2 == 'rock')):
        print('Player 1 wins!')
  else:
        print('Player 2 wins!')
  choice = input('Do you want to play another game?')

Do you want to play game?Yes
Choose Rock, Paper, Scissors: rock
Choose Rock, Paper, Scissors: paper
Player 2 wins!
Do you want to play another game?no

In [ ]:
n1= float(input('Enter Number (1): '))
n2= float(input('Enter Number (2): '))
symbol = input('Enter Symbol (+,-,*,/,**): ')

if symbol == '+':
  print(n1+n2)

elif symbol == '-':
  print (n1-n2)

elif symbol == '*':
  print(n1*n2)

elif symbol == '/':
  print(n1/n2)

elif symbol == '**':
  print(n1**n2)

Enter Number (1): 5
Enter Number (2): 5
Enter Symbol (+,-,*,/,**): +
10.0

In [ ]:
flateRate = 5
hourlyRate = 2.5

for hour in range (1, 9, 1):
  charge = flateRate + hourlyRate * hour
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for ad in range(0, 201, 25):
  additional = 2 * ad ** 0.5
  profit = (20 + additional) * 10 - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
# Assignment 1: House Hunting
def calculate_months_to_save():
    # Get user input
    annual_salary = float(input("Enter your annual salary: "))
    portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
    total_cost = float(input("Enter the cost of your dream home: "))

    # Constants
    portion_down_payment = 0.25
    current_savings = 0.0
    r = 0.04  # Annual return rate

    # Calculating the down payment needed
    down_payment = portion_down_payment * total_cost

    # Monthly salary and monthly savings
    monthly_salary = annual_salary / 12
    months = 0

    # Loop to calculate savings each month
    while current_savings < down_payment:
        current_savings += current_savings * r / 12 + portion_saved * monthly_salary
        months += 1

    print("Number of months:", months)

# Run the function
calculate_months_to_save()

Enter your annual salary: 250000
Enter the percent of your salary to save, as a decimal: .35
Enter the cost of your dream home: 2000000
Number of months: 62

In [ ]:
# Assignment 2: Saving with Raise
def calculate_months_to_save_with_raise():
    # Get user input
    annual_salary = float(input("Enter your annual salary: "))
    portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
    total_cost = float(input("Enter the cost of your dream home: "))
    semi_annual_raise = float(input("Enter the semi-annual raise, as a decimal: "))

    # Constants
    portion_down_payment = 0.25
    current_savings = 0.0
    r = 0.04  # Annual return rate

    # Calculating the down payment needed
    down_payment = portion_down_payment * total_cost

    # Monthly salary and monthly savings
    monthly_salary = annual_salary / 12
    months = 0

    # Loop to calculate savings each month with raises
    while current_savings < down_payment:
        if months > 0 and months % 6 == 0:
            annual_salary += annual_salary * semi_annual_raise
            monthly_salary = annual_salary / 12
        current_savings += current_savings * r / 12 + portion_saved * monthly_salary
        months += 1

    print("Number of months:", months)

# Run the function
calculate_months_to_save_with_raise()

Enter your annual salary: 250000
Enter the percent of your salary to save, as a decimal: .35
Enter the cost of your dream home: 2000000
Enter the semi-annual raise, as a decimal: .10
Number of months: 46

In [ ]:
# Assignment 3: Check if a number is within a range
def range_check(num, low, high):
    # First approach: Print the result
    if low <= num <= high:
        print(f"{num} is within the range {low} to {high}")
    else:
        print(f"{num} is not within the range {low} to {high}")

    # Second approach: Return a boolean value
    return low <= num <= high

# Example usage
number = float(input("Enter a number: "))
low = float(input("Enter the lower bound of the range: "))
high = float(input("Enter the upper bound of the range: "))

# Call the function with both methods
range_check(number, low, high)
is_in_range = range_check(number, low, high)
print("Boolean result:", is_in_range)

Enter a number: 25
Enter the lower bound of the range: 15
Enter the upper bound of the range: 35
25.0 is within the range 15.0 to 35.0
25.0 is within the range 15.0 to 35.0
Boolean result: True

In [1]:
def adder(a, b):
  res = a + b
  return res

In [2]:
x = 3
y = 2.5

z = adder(x, y)
print(z)

5.5

In [6]:
def range_check(num, low, high):
  if num >= low and num <= high:
    return True
  else:
    return False

In [8]:
print(range_check(low=2,high=3, num=1))

False

In [9]:
def range_check(num, rn):
  if num in rn:
    return True
  else:
    return False

In [10]:
print(range_check(rn=range(1,4), num=2))

True

In [ ]:
def input():
  annual_salary = float(input('Enter salary:'))
  portion = float(input('Enter portion:'))
  total_cost = float(input('Enter cost:'))

  return annual_salary, portion, total_cost

In [ ]:
annual_salary, portion, total_cost = input()

months = 0
amount = 0