<a href="https://colab.research.google.com/github/agonzalez1210/BTE-320-/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# Shape Area Calculator Assignment

pi = 3.14
r = 3 # radius of a circle
h = 10 # height of a cylinder

# Calculate cylinder surface area
area = 2 * pi * r ** 2 + 2 * pi * r * h

# Display result
print(area)

244.92000000000002

In [39]:
# Rock-Paper-Scissors Assignment

p1 = input('Choose Rock, Paper, Scissors:')
p2 = input('Choose Rock, Paper, Scissors:')

if p1 == p2:
  print('draw')
elif p1 == 'rock' and p2 == 'scissors':
  print('Player 1 wins!')
elif p1 == 'paper' and p2 == 'rock':
  print('Player 1 wins!')
elif p1 == 'scissors' and p2 == 'paper':
  print('Player 1 wins!')
else:
  print('Player 2 wins!')

Choose Rock, Paper, Scissors:rock
Choose Rock, Paper, Scissors:rock
draw

In [40]:
# Rock-Paper-Scissors Assignment

choice = input('Do you want to play game?')
while choice == 'Yes':
  p1 = input('Choose Rock, Paper, Scissors: ')
  p2 = input('Choose Rock, Paper, Scissors: ')

  if p1 == p2:
    print('Draw')
  elif ((p1 == 'rock' and p2 == 'scissors') or
    (p1 == 'scissors' and p2 == 'paper') or
        (p1 == 'paper' and p2 == 'rock')):
        print('Player 1 wins!')
  else:
        print('Player 2 wins!')
  choice = input('Do you want to play another game?')

Do you want to play game?Yes
Choose Rock, Paper, Scissors: rock
Choose Rock, Paper, Scissors: paper
Player 2 wins!
Do you want to play another game?no

In [41]:
# Numerical Calculator Assignment

n1= float(input('Enter Number (1): '))
n2= float(input('Enter Number (2): '))
symbol = input('Enter Symbol (+,-,*,/,**): ')

if symbol == '+':
  print(n1+n2)

elif symbol == '-':
  print (n1-n2)

elif symbol == '*':
  print(n1*n2)

elif symbol == '/':
  print(n1/n2)

elif symbol == '**':
  print(n1**n2)

Enter Number (1): 5
Enter Number (2): 5
Enter Symbol (+,-,*,/,**): +
10.0

In [42]:
# Parking Garage Assignment

flateRate = 5
hourlyRate = 2.5

for hour in range (1, 9, 1):
  charge = flateRate + hourlyRate * hour
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [43]:
# Movie Theater Assignment

for ad in range(0, 201, 25):
  additional = 2 * ad ** 0.5
  profit = (20 + additional) * 10 - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

In [44]:
# Months2Months Dictionary

months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [45]:
# Fee Calculations

def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
print(f)

Enter hours for parking: 4
15.0

In [46]:
# Fee Calculations and Display Functions

def calcFee(hours):
    fee = 5 + hours * 2.5
    return fee

def display(fee):
    print(f"The total parking fee is: ${fee:.2f}")

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
display(f)

Enter hours for parking: 4
The total parking fee is: $15.00

In [47]:
# Fee Calculations and Display Function (multiple codes ... same result)

def calcFee(hours, decimals=2):
  fee = round (5 + hours * 2.5, decimals)
  return fee
def displayFee(fee):
  print(fee)
hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
displayFee(f)

Enter hours for parking: 4
15.0

In [48]:
# Reverse Function Recursion

def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
    return rev(s[1:]) + s[0]
    return s[-1] + rev(s[:-1]) + s[0]

rev('Halloween')

'neewollaH'

In [49]:
# Student Class Assignment

class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __str__(self):
    return f'Name: {self.name}.'

In [50]:
s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

In [51]:
print(s1)

Name: James Bond.

In [52]:
# Student Class Assignment Continuation

class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in course: {course}')

  def get_courses(self):
    return self.courses

In [53]:
s = Student('Bob', '123')

In [55]:
s.enroll('ABC123')

You have already enrolled in course: ABC123

In [56]:
s.get_courses()

['ABC123']